/* app/ui/static/css/theme.css */

:root {
    --bg-main: #f9f9fb;
    --bg-sidebar: #ffffff;
    --color-primary: #0b5394;
    --color-success: #265c2e;
    --text-main: #111;
    --text-light: #444;
    --radius: 12px;
    --shadow: 0 1px 8px rgba(0,0,0,0.05);
  }
  
  body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "Segoe UI", sans-serif;
    margin: 0;
  }
  